.menu{
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: aliceblue;
  font-size: 22px;
  &-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    user-select: none;
    transition: all .3s;
    &:hover{
      cursor: pointer;
      background-color: #7b4d9a;
    }
    &:active{
      background-color: #cd82ff;
    }
  }
}