.menu{
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: aliceblue;
  &-item{
    font-size: 1.5rem;
    color: #97ff06;
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 100%;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    height: inherit;
    user-select: none;
    transition: all .3s;
    &:hover{
      cursor: pointer;
      background-color: #7b4d9a;
      color: #f6ff00;
    }
    &:active{
      background-color: #cd82ff;
    }
  }
}

