.menu{
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: aliceblue;
  &-list-item{
    list-style-type: none;
    color: #97ff06;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    height: inherit;
    user-select: none;
  }
  &-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    font-size: 1.5rem;
    transition: all .3s;
    &:hover{
      cursor: pointer;
      background-color: #7b4d9a;
      color: #f6ff00;
    }
    &:active{
      background-color: #cd82ff;
    }
  }
}

.dropdown-menu{
  position: absolute;
  top: 50px;
  cursor: default;
  width: 180px;
  height: 400px;
  border: 1px solid rgba(17, 17, 17, 0.85);
  border-radius: 7px;
  background-color: #04ed90;
}

